.frame-child,
.image-9-icon {
  position: absolute;
  top: 10.3px;
  left: 0;
  border-radius: 9.09px;
  width: 358.02px;
  height: 176.28px;
  object-fit: cover;
}
.image-9-icon {
  top: 0;
  border-radius: 127.21px;
  width: 121.16px;
  height: 119.52px;
}
.duy-thong,
.facebook {
  position: absolute;
  top: 0;
  display: inline-block;
}
.duy-thong {
  left: 0;
  font-weight: 600;
  width: 151.45px;
  height: 29.08px;
}
.facebook {
  left: 19.39px;
  width: 104.19px;
}
.image-11-icon {
  position: absolute;
  top: 1.82px;
  left: 0;
  width: 18.17px;
  height: 18.17px;
  object-fit: cover;
}
.facebook-parent,
.instagram-parent {
  position: absolute;
  top: 30.29px;
  left: 27.87px;
  width: 123.58px;
  height: 21.81px;
}
.instagram-parent {
  top: 58.16px;
}
.duy-thong-parent,
.image-9-parent {
  position: absolute;
  top: 0;
  left: 122.37px;
  width: 151.45px;
  height: 79.96px;
}
.image-9-parent {
  top: 33.92px;
  left: 28.47px;
  width: 273.81px;
  height: 119.52px;
}
.frame-item,
.image-10-icon,
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 358.02px;
  height: 187.19px;
}
.frame-item,
.image-10-icon {
  top: 10.9px;
  border-radius: 9.09px;
  height: 176.28px;
  object-fit: cover;
}
.image-10-icon {
  top: 0;
  border-radius: 121.16px;
  width: 121.16px;
  height: 120.19px;
}
.facebook1 {
  position: absolute;
  top: 0;
  left: 19.38px;
  display: inline-block;
  width: 104.19px;
}
.image-10-parent,
.vector-group {
  position: absolute;
  top: 33.92px;
  left: 34.53px;
  width: 273.81px;
  height: 119.52px;
}
.vector-group {
  top: 1.21px;
  left: 434.34px;
  width: 358.02px;
  height: 187.19px;
}
.frame-parent {
  position: absolute;
  top: 64.82px;
  left: calc(50% - 396.45px);
  width: 792.36px;
  height: 188.4px;
}
.about-us1 {
  position: absolute;
  top: 0;
  left: calc(50% - 78.86px);
  font-size: 30.29px;
}
.frame-about-us {
  position: relative;
  width: 892.62px;
  height: 253.22px;
}
.about-us {
  position: absolute;
  top: 2774.82px;
  left: calc(50% - 609.06px);
  background: linear-gradient(
    97.37deg,
    #193432,
    rgba(21, 59, 57, 0.7) 29.79%,
    rgba(66, 188, 182, 0)
  );
  width: 1217.35px;
  height: 457.85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 52.6338005065918px 155.59864807128906px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18.17px;
}
.frame-image-1-icon,
.frame-inner {
  position: absolute;
  top: 0;
  object-fit: cover;
}
.frame-image-1-icon {
  right: -0.25px;
  width: 555.5px;
  height: 720.88px;
}
.frame-inner {
  left: 0;
  border-radius: 9.09px;
  width: 251.4px;
  height: 252.61px;
}
.use-media-on,
.window {
  position: absolute;
  top: 19.99px;
  left: 49.67px;
  font-weight: 600;
  display: inline-block;
  width: 151.45px;
  height: 29.08px;
}
.use-media-on {
  top: 49.07px;
  left: 16.96px;
  font-size: 12.12px;
  font-weight: 500;
  white-space: pre-wrap;
  width: 223.53px;
  height: 23.02px;
}
.image-8-icon,
.rectangle-div {
  position: absolute;
  width: 121.16px;
}
.image-8-icon {
  top: 90.26px;
  left: 64.82px;
  height: 72.95px;
  object-fit: cover;
}
.rectangle-div {
  top: 15.14px;
  left: 12.12px;
  border-radius: 6.06px;
  background-color: var(--color-seagreen);
  height: 30.29px;
}
.download {
  position: absolute;
  top: 0;
  left: calc(50% - 36.65px);
  line-height: 60.58px;
  font-weight: 500;
}
.rectangle-parent {
  position: absolute;
  top: 181.13px;
  left: 52.7px;
  width: 145.99px;
  height: 60.58px;
  text-align: left;
  font-size: 15.14px;
}
.vector-container {
  position: absolute;
  top: 49.07px;
  left: 0;
  width: 251.4px;
  height: 252.61px;
}
.download1 {
  position: absolute;
  top: 0;
  left: calc(50% - 36.04px);
  line-height: 60.58px;
  font-weight: 500;
}
.download2,
.frame-div {
  position: absolute;
  top: 49.07px;
  left: 376.19px;
  width: 251.4px;
  height: 252.61px;
}
.download2 {
  top: 0;
  left: 193.24px;
  font-size: 24.23px;
  font-weight: 600;
  color: #fffbfb;
  display: inline-block;
  width: 255.64px;
  height: 49.07px;
}
.frame-group {
  position: relative;
  width: 627.59px;
  height: 301.68px;
}
.content-inner {
  position: absolute;
  top: 562.89px;
  left: calc(50% - 602.38px);
  background: linear-gradient(101.46deg, #204543, rgba(32, 69, 67, 0));
  width: 1205.81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 114.80746459960938px 295.73614501953125px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18.17px;
}
.screenshot-2023-12-12-101759-1 {
  position: absolute;
  top: 92.38px;
  left: 0;
  border-radius: 3.79px;
  width: 321.82px;
  height: 170.97px;
  object-fit: cover;
}
.screenshot-2023-12-12-101712-3,
.screenshot-2023-12-12-101854-1 {
  position: absolute;
  top: 0;
  left: 36.35px;
  border-radius: 3.79px;
  width: 302.89px;
  height: 160.91px;
  object-fit: cover;
}
.screenshot-2023-12-12-101854-1 {
  top: 47.7px;
  left: 101.47px;
  width: 340.75px;
  height: 181.02px;
}
.screenshot-2023-12-12-101759-1-parent {
  position: absolute;
  top: 4.54px;
  left: 0.2px;
  width: 442.22px;
  height: 263.35px;
}
.flexible-media-views {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 75.72px;
  font-weight: 600;
}
.simplify-your-multimedia {
  position: absolute;
  top: 75.41px;
  left: 0;
  font-size: 22.72px;
  line-height: 37.86px;
  text-align: justify;
  display: inline-block;
  width: 384.75px;
}
.flexible-media-views-parent {
  position: absolute;
  top: 0.19px;
  right: 0;
  width: 384.75px;
  height: 227px;
}
.frame-container {
  position: absolute;
  top: 1215.04px;
  left: calc(50% - 446.69px);
  width: 892.62px;
  height: 267.79px;
}
.image-4-icon,
.image-7-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3.79px;
  width: 321.82px;
  height: 170.97px;
  object-fit: cover;
}
.image-4-icon {
  top: 85.57px;
  left: 101.47px;
  width: 340.75px;
  height: 181.02px;
}
.image-7-parent {
  position: absolute;
  top: 0;
  right: 0.24px;
  width: 442.22px;
  height: 266.59px;
}
.take-control-of {
  position: absolute;
  top: 0;
  left: 3.03px;
  line-height: 75.72px;
  font-weight: 600;
}
.forget-endless-scrolling {
  position: absolute;
  top: 81.78px;
  left: 0;
  font-size: 22.72px;
  line-height: 37.86px;
  color: #fff8f8;
  text-align: justify;
  display: inline-block;
  width: 384.75px;
}
.take-control-of-playlists-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 423.23px;
  height: 233.37px;
}
.content-child,
.frame-parent1 {
  position: absolute;
  top: 152.89px;
  left: calc(50% - 446.12px);
  width: 892.62px;
  height: 266.25px;
}
.content-child {
  top: 1659.28px;
  left: calc(50% - 610.36px);
  background: linear-gradient(100.68deg, #204543, rgba(32, 69, 67, 0));
  width: 1221.1px;
  height: 548.71px;
}
.logo5-2-icon {
  position: absolute;
  top: 0;
  left: 144.36px;
  width: 124.79px;
  height: 124.79px;
  object-fit: cover;
}
.media-appllication {
  position: absolute;
  top: 160.31px;
  left: 1.48px;
}
.leveraging-a-cross-platform {
  position: absolute;
  top: 241.57px;
  left: 0;
  font-size: 19.74px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  display: inline-block;
  width: 413.5px;
  height: 65.79px;
}
.get-started {
  position: absolute;
  top: 342.89px;
  left: 156.75px;
  font-size: 18.17px;
  font-weight: 600;
  text-align: center;
}
.logo5-2-parent {
  position: absolute;
  top: 101.98px;
  left: 67.11px;
  width: 413.5px;
  height: 364.93px;
  font-size: 37.86px;
}
.immerse-in-music {
  position: absolute;
  top: 0;
  left: 3.03px;
  line-height: 75.72px;
  font-weight: 600;
  white-space: pre-wrap;
}
.fill-your-queue {
  position: absolute;
  top: 81.78px;
  left: 0;
  font-size: 22.72px;
  line-height: 37.86px;
  text-align: justify;
  display: inline-block;
  width: 384.75px;
}
.immerse-in-music-visuals-parent {
  position: absolute;
  top: 0;
  right: -0.19px;
  width: 384.75px;
  height: 233.37px;
}
.image-7-icon1,
.screenshot-2023-12-12-101712-5,
.screenshot-2023-12-12-102944-2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.57px;
  width: 302.89px;
  height: 160.91px;
  object-fit: cover;
}
.image-7-icon1,
.screenshot-2023-12-12-102944-2 {
  top: 99.2px;
  left: 151.45px;
}
.image-7-icon1 {
  top: 42.4px;
  left: 63.61px;
  width: 340.75px;
  height: 181.02px;
}
.screenshot-2023-12-12-101712-5-parent {
  position: absolute;
  top: 8.33px;
  left: -0.19px;
  width: 454.34px;
  height: 260.11px;
}
.content-inner1,
.frame-parent2 {
  position: absolute;
  width: 892.62px;
  height: 268.44px;
}
.frame-parent2 {
  top: calc(50% - 134.22px);
  left: calc(50% - 468.82px);
}
.content-inner1 {
  top: 2357.34px;
  left: calc(50% - 446.69px);
}
.content {
  position: relative;
  background-color: #04231d;
  width: 100%;
  height: 3290.38px;
  text-align: left;
  font-size: 30.29px;
  color: var(--color-white);
  font-family: var(--font-inter);
}

@media (min-width: 1201px) {
  .frame-child,
  .image-9-icon {
    position: absolute;
    top: 13.38px;
    left: 0;
    border-radius: 11.81px;
    width: 465.26px;
    height: 229.09px;
    object-fit: cover;
  }
  .image-9-icon {
    top: 0;
    border-radius: 165.32px;
    width: 157.45px;
    height: 155.32px;
  }
  .duy-thong,
  .facebook {
    position: absolute;
    top: 0;
    display: inline-block;
  }
  .duy-thong {
    left: 0;
    font-weight: 600;
    width: 196.81px;
    height: 37.79px;
  }
  .facebook {
    left: 25.19px;
    width: 135.41px;
  }
  .image-11-icon {
    position: absolute;
    top: 2.36px;
    left: 0;
    width: 23.62px;
    height: 23.62px;
    object-fit: cover;
  }
  .facebook-parent,
  .instagram-parent {
    position: absolute;
    top: 39.36px;
    left: 36.21px;
    width: 160.6px;
    height: 28.34px;
  }
  .instagram-parent {
    top: 75.58px;
  }
  .duy-thong-parent,
  .image-9-parent {
    position: absolute;
    top: 0;
    left: 159.02px;
    width: 196.81px;
    height: 103.92px;
  }
  .image-9-parent {
    top: 44.09px;
    left: 37px;
    width: 355.83px;
    height: 155.32px;
  }
  .frame-item,
  .image-10-icon,
  .vector-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 465.26px;
    height: 243.26px;
  }
  .frame-item,
  .image-10-icon {
    top: 14.17px;
    border-radius: 11.81px;
    height: 229.09px;
    object-fit: cover;
  }
  .image-10-icon {
    top: 0;
    border-radius: 157.45px;
    width: 157.45px;
    height: 156.19px;
  }
  .image-10-parent,
  .vector-group {
    position: absolute;
    top: 44.09px;
    left: 44.87px;
    width: 355.83px;
    height: 155.32px;
  }
  .vector-group {
    top: 1.58px;
    left: 564.45px;
    width: 465.26px;
    height: 243.26px;
  }
  .frame-parent {
    position: absolute;
    top: 84.23px;
    left: calc(50% - 515.21px);
    width: 1029.71px;
    height: 244.83px;
  }
  .about-us1 {
    position: absolute;
    top: 0;
    left: calc(50% - 102.49px);
    font-size: 39.36px;
  }
  .frame-about-us {
    position: relative;
    width: 1160px;
    height: 329.07px;
  }
  .about-us {
    position: absolute;
    top: 3606px;
    left: calc(50% - 791.5px);
    background: linear-gradient(
      97.37deg,
      #193432,
      rgba(21, 59, 57, 0.7) 29.79%,
      rgba(66, 188, 182, 0)
    );
    width: 1582px;
    height: 595px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 68.4000015258789px 202.20748901367188px;
    box-sizing: border-box;
    text-align: center;
    font-size: 23.62px;
  }
  .frame-image-1-icon,
  .frame-inner {
    position: absolute;
    top: 0;
    object-fit: cover;
  }
  .frame-image-1-icon {
    right: -0.33px;
    width: 721.9px;
    height: 936.81px;
  }
  .frame-inner {
    left: 0;
    border-radius: 11.81px;
    width: 326.7px;
    height: 328.28px;
  }
  .use-media-on,
  .window {
    position: absolute;
    top: 25.98px;
    left: 64.55px;
    font-weight: 600;
    display: inline-block;
    width: 196.81px;
    height: 37.79px;
  }
  .use-media-on {
    top: 63.77px;
    left: 22.04px;
    font-size: 15.74px;
    font-weight: 500;
    white-space: pre-wrap;
    width: 290.49px;
    height: 29.92px;
  }
  .image-8-icon,
  .rectangle-div {
    position: absolute;
    width: 157.45px;
  }
  .image-8-icon {
    top: 117.3px;
    left: 84.23px;
    height: 94.81px;
    object-fit: cover;
  }
  .rectangle-div {
    top: 19.68px;
    left: 15.74px;
    border-radius: 7.87px;
    background-color: var(--color-seagreen);
    height: 39.36px;
  }
  .download {
    position: absolute;
    top: 0;
    left: calc(50% - 47.63px);
    line-height: 78.72px;
    font-weight: 500;
  }
  .rectangle-parent {
    position: absolute;
    top: 235.38px;
    left: 68.49px;
    width: 189.72px;
    height: 78.72px;
    text-align: left;
    font-size: 19.68px;
  }
  .vector-container {
    position: absolute;
    top: 63.77px;
    left: 0;
    width: 326.7px;
    height: 328.28px;
  }
  .download1 {
    position: absolute;
    top: 0;
    left: calc(50% - 46.84px);
    line-height: 78.72px;
    font-weight: 500;
  }
  .download2,
  .frame-div {
    position: absolute;
    top: 63.77px;
    left: 488.88px;
    width: 326.7px;
    height: 328.28px;
  }
  .download2 {
    top: 0;
    left: 251.13px;
    font-size: 31.49px;
    font-weight: 600;
    color: #fffbfb;
    display: inline-block;
    width: 332.21px;
    height: 63.77px;
  }
  .frame-group {
    position: relative;
    width: 815.58px;
    height: 392.05px;
  }
  .content-inner {
    position: absolute;
    top: 731.5px;
    left: calc(50% - 782.82px);
    background: linear-gradient(101.46deg, #204543, rgba(32, 69, 67, 0));
    width: 1567px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 149.19749450683594px 384.3224792480469px;
    box-sizing: border-box;
    text-align: center;
    font-size: 23.62px;
  }
  .screenshot-2023-12-12-101759-1 {
    position: absolute;
    top: 120.05px;
    left: 0;
    border-radius: 4.92px;
    width: 418.22px;
    height: 222.18px;
    object-fit: cover;
  }
  .screenshot-2023-12-12-101712-3,
  .screenshot-2023-12-12-101854-1 {
    position: absolute;
    top: 0;
    left: 47.23px;
    border-radius: 4.92px;
    width: 393.62px;
    height: 209.11px;
    object-fit: cover;
  }
  .screenshot-2023-12-12-101854-1 {
    top: 61.99px;
    left: 131.86px;
    width: 442.82px;
    height: 235.25px;
  }
  .screenshot-2023-12-12-101759-1-parent {
    position: absolute;
    top: 5.9px;
    left: 0.26px;
    width: 574.68px;
    height: 342.23px;
  }
  .flexible-media-views {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 98.4px;
    font-weight: 600;
  }
  .simplify-your-multimedia {
    position: absolute;
    top: 98px;
    left: 0;
    font-size: 29.52px;
    line-height: 49.2px;
    text-align: justify;
    display: inline-block;
    width: 500px;
  }
  .flexible-media-views-parent {
    position: absolute;
    top: 0.24px;
    right: 0;
    width: 500px;
    height: 295px;
  }
  .frame-container {
    position: absolute;
    top: 1579px;
    left: calc(50% - 580.5px);
    width: 1160px;
    height: 348px;
  }
  .image-4-icon,
  .image-7-icon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4.92px;
    width: 418.22px;
    height: 222.18px;
    object-fit: cover;
  }
  .image-4-icon {
    top: 111.2px;
    left: 131.86px;
    width: 442.82px;
    height: 235.25px;
  }
  .image-7-parent {
    position: absolute;
    top: 0;
    right: 0.32px;
    width: 574.68px;
    height: 346.45px;
  }
  .take-control-of {
    position: absolute;
    top: 0;
    left: 3.94px;
    line-height: 98.4px;
    font-weight: 600;
  }
  .forget-endless-scrolling {
    position: absolute;
    top: 106.28px;
    left: 0;
    font-size: 29.52px;
    line-height: 49.2px;
    color: #fff8f8;
    text-align: justify;
    display: inline-block;
    width: 500px;
  }
  .take-control-of-playlists-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 303.28px;
  }
  .content-child,
  .frame-parent1 {
    position: absolute;
    top: 198.69px;
    left: calc(50% - 579.75px);
    width: 1160px;
    height: 346px;
  }
  .content-child {
    top: 2156.31px;
    left: calc(50% - 793.19px);
    background: linear-gradient(100.68deg, #204543, rgba(32, 69, 67, 0));
    width: 1586.88px;
    height: 713.07px;
  }
  .logo5-2-icon {
    position: absolute;
    top: 0;
    left: 187.6px;
    width: 162.17px;
    height: 162.17px;
    object-fit: cover;
  }
  .media-appllication {
    position: absolute;
    top: 208.34px;
    left: 1.92px;
  }
  .leveraging-a-cross-platform {
    position: absolute;
    top: 313.93px;
    left: 0;
    font-size: 25.65px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    display: inline-block;
    width: 537.37px;
    height: 85.5px;
  }
  .get-started {
    position: absolute;
    top: 445.6px;
    left: 203.7px;
    font-size: 23.62px;
    font-weight: 600;
    text-align: center;
  }
  .logo5-2-parent {
    position: absolute;
    top: 132.52px;
    left: 87.21px;
    width: 537.37px;
    height: 474.24px;
    font-size: 49.2px;
  }
  .immerse-in-music {
    position: absolute;
    top: 0;
    left: 3.94px;
    line-height: 98.4px;
    font-weight: 600;
    white-space: pre-wrap;
  }
  .fill-your-queue {
    position: absolute;
    top: 106.28px;
    left: 0;
    font-size: 29.52px;
    line-height: 49.2px;
    text-align: justify;
    display: inline-block;
    width: 500px;
  }
  .immerse-in-music-visuals-parent {
    position: absolute;
    top: 0;
    right: -0.25px;
    width: 500px;
    height: 303.28px;
  }
  .image-7-icon1,
  .screenshot-2023-12-12-101712-5,
  .screenshot-2023-12-12-102944-2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9.84px;
    width: 393.62px;
    height: 209.11px;
    object-fit: cover;
  }
  .image-7-icon1,
  .screenshot-2023-12-12-102944-2 {
    top: 128.91px;
    left: 196.81px;
  }
  .image-7-icon1 {
    top: 55.11px;
    left: 82.66px;
    width: 442.82px;
    height: 235.25px;
  }
  .screenshot-2023-12-12-101712-5-parent {
    position: absolute;
    top: 10.83px;
    left: -0.25px;
    width: 590.43px;
    height: 338.02px;
  }
  .content-inner1,
  .frame-parent2 {
    position: absolute;
    width: 1160px;
    height: 348.85px;
  }
  .frame-parent2 {
    top: calc(50% - 174.42px);
    left: calc(50% - 609.25px);
  }
  .content-inner1 {
    top: 3063.46px;
    left: calc(50% - 580.5px);
  }
  .content {
    position: relative;
    background-color: #04231d;
    width: 100%;
    height: 4276px;
    text-align: left;
    font-size: 39.36px;
    color: var(--color-white);
    font-family: var(--font-inter);
  }
}
